---
layout: default
---

<h2>{{page.title}}</h2>
<div class='pad1y keyline-top'>
  <strong class='quiet small block space-bottom1'>
    Posted {{page.date | date:"%b %d %Y"}} {% if page.author %}by {{page.author}}{% endif %}
  </strong>
</div>
{{content}}

{% if site.maptime.disqus %}
<div id='disqus_thread'></div>
<script>
  var disqus_shortname = '{{site.maptime.disqus}}';
  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
{% endif %}
